@font-face {
    font-family: dm;
    src: url(assets/media/dmsans.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: dm, sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}
/* headings and logo */

h1, h2 {
    font-family: dm, sans-serif;
    letter-spacing: 2px;
    color: black;
}

#logo {
    float: left;
}

/* navigation links */

#menu {
    font-size: 125%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 200px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 3px solid #3a3a3a;
}