@font-face {
    font-family: dm;
    src: url(assets/media/dmsans.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: dm, sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}
/* headings and logo */

h1, h2 {
    font-family: dm, sans-serif;
    letter-spacing: 2px;
    color: black;
}

#logo {
    float: left;
}