@font-face {
    font-family: dm;
    src: url(assets/media/dmsans.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: dm, sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}
/* headings and logo */

h1, h2 {
    font-family: dm, sans-serif;
    letter-spacing: 2px;
    color: black;
}

/* navigation links */

#menu {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 3px solid #3a3a3a;
}

/* Hero image */

#hero_outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#hero_image {
    height: 500px;
    width: 100%;
    background: url('../media/hero_image.jpg') no-repeat center center;
    animation-name: hero_zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* create the animation effect */

@keyframes hero_zoom {
    from{
        transform: scale(.5);
    }
    to{
        transform: scale(1);
    }
}

#intro {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#affiliations {
    margin-top: 10px;
    column-count: 4;
    column-gap: 0;
}

#affiliations > img {
    width: 100%;
}

#footer {
    background-color: #00ccff;
    color: black;
    height: 100%;
}

.contact {
    text-align: center;
}

.contact > li {
    display: inline;
}

.contact i {
    margin: 10px;
    padding: 5%;
    color: black;
}

#lever {
    float: right;
    margin: 0 0 0 15px;
}