@font-face {
    font-family: dm;
    src: url('assets/media/dmsans.ttf');
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#footer {
    background-color: #0d6efd;
    color: white;
    height: 100%;
}

.contact {
    text-align: center;
}

.contact > li {
    display: inline;
}

.contact i {
    margin: 10px;
    padding: 5%;
    color: white;
}

#lever {
    float: right;
    margin: 0 0 0 15px;
}

#fan {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  video {
    width:100% !important;
    height: auto !important;
  }